<html>
  <head></head>
  <body>
    <h1>Albums</h1>

    <div>
        <% @result.each do |albumobj| %>
            <p>
                Title: <%= albumobj.title %>
                Release Year: <%= albumobj.release_year %>
                <a href="/albums/<%= albumobj.id %>">Album <%= albumobj.id %> page</a>
            <p>
        <% end %>
    </div>
    
    <div>
        <a href ="/albums/new">Add new album</a>
    </div>
    <!-- ... -->
  </body>
</html>