<html>
  <head></head>
  <body>
    <h1>Artists</h1>

    <div>
        <% @result.each do |artistobj| %>
            <p>
                Name: <%= artistobj.name %>
                Genre: <%= artistobj.genre %>
                <a href="/artists/<%= artistobj.id %>">Artist <%= artistobj.id %> page</a>
            <p>
        <% end %>
    </div>
    
    <div>
        <a href ="/artists/new">Add new artist</a>
    </div>
    <!-- ... -->
  </body>
</html>