<html>
  <head></head>
  <body>
    <form action="/albums/album_add" method="POST">
    <label>Album Title</label>
    <input type="text" name="title">
    <label>Album release year</label>
    <input type="text" name="release_year">
    <label>Album artist id</label>
    <input type="text" name="artist_id">

    <input type="submit" value="Submit the form">
    </form>
  </body>
</html>