<html>
  <head></head>
  <body>
    <form action="/artists/artist_add" method="POST">
    <label>Artist Name</label>
    <input type="text" name="name">
    <label>Artist genre</label>
    <input type="text" name="genre">

    <input type="submit" value="Submit the form">
    </form>
  </body>
</html>